<div class="header">
    <div class="menu">
        <a href="dashboard.html" class="home"><img src="../assets/icons/home-icon.png" alt="Home"></a>
        <a href="#" class="second">두번째</a>
        <a href="#" class="logout">로그아웃</a>
        <a href="profile.html" class="profile">개인 프로필</a>
    </div>
    <div class="notifications">
        <span>🔔</span>
        <span>📩</span>
    </div>
    <div class="user-info">
        <img src="../assets/image/trump-avatar.jpg" alt="User Avatar" class="user-avatar">
        <span>도널드 트럼프</span>
    </div>
</div>