<div class="header">
    <div class="menu">
        <a href="dashboard.html" class="home"><img src="../assets/icons/home.svg" alt="Home"></a>
        <a href="#" class="second">두번째</a>
        <a href="#" class="logout" id="logout">로그아웃</a>
        <a href="profile.html" class="profile">개인 프로필</a>
    </div>
    <div class="notifications">
        <span>🔔</span>
        <span>📩</span>
    </div>
    <div class="user-info">
        <!-- <img src="" alt="User Avatar" class="user-avatar"> -->
        <img id="user-avatar" src="https://eac.jejudreamtower.com/UploadResource/MemberImages/1000080.jpeg" alt="User Avatar">
        <span id="userName">Guest</span>
    </div>
    <div class="theme-toggle">
        <button id="theme-toggle">🌞</button>
    </div>
</div>
